.brand-img
{
  background: url(images/logo.png) no-repeat left center;
  height: 25px;
  width: 129px;
}

.navbar-brand {
  line-height: 1.42857143;
  font-size: 22px;
}

.navbar-fixed-bottom {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.content {
  padding-bottom:80px;
}

#content {
	/*padding:10px;*/
	padding-bottom:80px;   /* Height of the footer element */
}
#wrapper {
	min-height:100%;
	position:relative;
}

html,
body {
  padding-top: 30px;
  height: 100%;
  margin:0;
}
